@charset "utf-8";

ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

.clearfix::after{display:block; content:""; clear:both;}

.container {
    width:1000px;
    margin:0 auto;
}

nav {
    width:100px;
    background-color:beige;
    text-align: center;
}

ul li {
    line-height: 100px;
    float:left;
}
ul li a {
    color: blue;
    text-decoration: none;
    display:block;
    padding:0 20px;
}
ul li a:hover {
    background-color:orange;
}
section {
    margin:20px;
}